<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<title>Dickel Framework - named after a drink i must have been drinking when I created another wsgi framework</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<style type="text/css">
	#container{
		width: 600px;
		margin: 0 auto;
	}
	#header{
		
	}
	#content{
		
	}
	</style>
	</head>
<body>
	<div class="container">
		<div id="header" class="span-24">
			{% block header %}Hello Dickel Application{%endblock%}
		</div>
		<div class="span-24" id="content">
			<div class='section' id="headers">
				<h2>Headers</h2>
				{% for header in headers %}
					{{header}}
				{% endfor %}
			</div>
			<div class='section' id="GET">
				<h2>GET variables</h2>
				{% for item in get_vars %}
					{{item}}
				{% endfor %}
			</div>
			<div class='section' id="POST">
				<h2>POST variables</h2>
				{% for item in post_vars %}
					{{item}}<br />
				{% endfor %}
			</div>
			<div class='section' id='urls'>
				<h2>URLS</h2>
				{% for url in urls %}
					{{url}}<br />
				{% endfor %}
			</div>
			<div class='section' id='settings'>
			</div>
		</div>
		<hr>
		<div class="span-24">
			{%block footer%}
			&copy; Matt George
			{% endblock %}
		</div>	
	</div>

</body>
</html>